body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);

}
.table {
    width: 100%; 
    max-width: 100%; 
    margin-bottom: 20px;
    float: middle;
}
.box{
    width: 520px;
    height: 650px;
    padding: 20px;
    border: solid #000000;
    position: absolute;
    top: 53%;
    left: 70%;
    float: right;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: middle;
}
.box h1{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.mapdiv{
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.btn {
    text-decoration: none;
    border: none;
    padding: 1px 1px;
    font-size: 12px;
    background-color: rgb(9, 247, 41);
    color: rgb(3, 24, 2);
    border-radius: 1px;
    /*box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);*/
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    z-index: 2;
}
/* Adding transformation when the button is active */
  
.btn:hover {
background-color: rgb(235, 23, 23);
transform: scale(0.90);
    /* Scaling button to 0.90 to its original size */
box-shadow: 3px 2px 22px 1px rgba(4, 7, 51, 0.973);
    /* Lowering the shadow */
}

/* Note popup */

.popup .overlay{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popup .note-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width: 900px;
    height: 700px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}

.popup .close-btn {
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight: 600;
    line-height: 30px;
    text-align:center;
    border-radius:50%;
    cursor: pointer;
}

.popup.active .overlay {
    display:block;
}

.popup.active .note-content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}