body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);

}
.box{
    width: 600px;
    padding: 50px;
    border: solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: center;
}
.box h1{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.box table{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    width: 400px;
    border-collapse: collapse;
    padding: 15px;
    float:left;
}

.box input[type = "button"]{
    border:0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding:14px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius:24px;
    transition:0.25s;
    cursor: pointer;
}

.box input[type = "button"]:hover{
    background:#2ecc71;
}

.black_box{
    height: 380px;
    width: 500px;
    padding: 50px;
    border: solid #00000000;
    border-radius:24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
    background: #ffffff;
    text-align: left;
    color:rgb(0, 0, 0);
}
.art_box{
    height: 400px;
    width: 300px;
    padding: 50px;
    /* border: solid #00000000; */
    border-radius:24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%,-50%);
    background-image: url("img/fireart.jpg");
    filter: saturate(75%);
    text-align: left;
    transition: transform .2s;
    color:rgb(255, 255, 255);
}

.art_box:hover {
    transform: scale(1.1) translate(-115%,-45%); 
  }

.h3_box {
    font-weight: 500;
    font-weight:bold;
}
.h1_box {
    font-size: 100px;
    font-weight: 500;
    font-weight:bold;
    color:rgb(255, 255, 255);
}

#button1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%,250%);
    
    }
#button2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%,250%);
    }
